In [10]:
import pandas as pd

In [11]:
filename = 'heart.csv'

people = pd.read_csv(filename)

In [12]:
people

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(people.drop(columns=['target']), people['target'], test_size=0.3, random_state=100)

In [14]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

model.fit(X_train, y_train)

model.score(X_test, y_test)

0.8791208791208791

In [15]:
y_test[:10]

69     1
300    0
220    0
134    1
7      1
291    0
97     1
242    0
18     1
283    0
Name: target, dtype: int64

In [16]:
model.predict(X_test[:10])

array([1, 0, 0, 1, 1, 0, 0, 0, 1, 1])

In [17]:
model.predict_proba(X_test[:10])

array([[3.21609066e-03, 9.96783909e-01],
       [9.99945533e-01, 5.44667769e-05],
       [9.99983490e-01, 1.65100568e-05],
       [6.48566950e-04, 9.99351433e-01],
       [3.80255196e-02, 9.61974480e-01],
       [9.99997778e-01, 2.22187959e-06],
       [9.72149858e-01, 2.78501421e-02],
       [9.63606629e-01, 3.63933713e-02],
       [4.99035642e-02, 9.50096436e-01],
       [6.81720062e-02, 9.31827994e-01]])

In [18]:
person = pd.DataFrame({
    'age':[50],       # Edad
    'sex':[0],        # Sexo
    'cp':[4],         # Tipo de dolor de pecho(chest pain)
    'trestbps':[144], # PresiÃ³n arterial en reposo
    'chol':[230],     # Colesterol sÃ©rico en mg / dl
    'fbs':[0],        # AzÃºcar en sangre en ayunas> 120 mg / dl
    'restecg':[1],    # Resultados electrocardiogrÃ¡ficos en reposo (valores 0,1,2)
    'thalach':[170],  # Frecuencia cardÃ­aca mÃ¡xima alcanzada
    'exang':[0],      # Angina inducida por el ejercicio
    'oldpeak':[2.4],  # DepresiÃ³n del ST inducida por el ejercicio en relaciÃ³n con el descanso
    'slope':[1],      # La pendiente del segmento ST de ejercicio pico
    'ca': [2],        # NÃºmero de vasos principales (0-3) coloreados por la floraciÃ³n
    'thal': [1]       # 0 = normal; 1 = defecto fijo; 2 = defecto reversible
})

model.predict(person)

array([1])